<!DOCTYPE html>
<html>
  <head>
    <title>RFID Tag Reader</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>RFID Tag Reader</h1>
    <p>
      Latest tag: <span id="latest_tag"></span>
    </p>
    <p>
      Tag count: <span id="tag_count"></span>
    </p>
    <script>
      $(document).ready(function() {
        // set up event source
        var source = new EventSource("/stream");
        source.onmessage = function(event) {
          // update the tag count and latest tag values
          var data = JSON.parse(event.data);
          $("#latest_tag").text(data.latest_tag);
          $("#tag_count").text(data.tag_count);
        };
      });
    </script>
  </body>
</html>
